* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 100vw;
}

body {
    background-image: url('bg1.webp');
    overflow-x: hidden;
}

.welcome-div {
    background-image: url('IMG_1573.webp');
    background-size: cover;
    height: calc(100vh - 78px);
    margin-top: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #272727;
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
    border: 2px solid gold
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    border-bottom: 1px solid darkgoldenrod;
    background-image: url('bg1.webp');
}

header #header-logo {
    font-family: 'Electrolize';
    font-size: 24px;
    font-weight: 900;
    color: gold;
    text-shadow: 1.25px 1.25px #968003;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 10px;
}

header nav ul li {
    list-style: none;
    padding: 0 5px;

}

header .nav-link {
    font-family: 'Electrolize';
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px silver;
    text-transform: uppercase;
    white-space: nowrap;
}
#about {
  scroll-margin-top: 110px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: calc(100vh - 170px);
}

.box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 50vh;
    font-family: 'Electrolize';
    font-size: 20px;
    font-weight: 900;
    color: gold;
    text-shadow: 1.25px 1.25px #968003;
}

.box1, .box2 {
    padding: 20px 30px;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 30px;
      /* Base concrete color */
      background-color: #676767;
      
      /* Layered gradients to simulate concrete texture */
      background-image:
        /* light speckles */
        radial-gradient(circle, rgba(255,255,255,0.2) 1px, transparent 0),
        /* dark speckles */
        radial-gradient(circle, rgba(0,0,0,0.1) 1px, transparent 0),
        /* Diagonal linear texture for subtle variation */
        linear-gradient(45deg, rgba(255,255,255,0.05) 25%, transparent 25%),
        /* Opposite diagonal */
        linear-gradient(-45deg, rgba(0,0,0,0.05) 25%, transparent 25%);
      
      /* Size for each layer of the texture */
      background-size: 20px 20px, 20px 20px, 50px 50px, 50px 50px;
      
      /* Offsetting some layers to create a more natural look */
      background-position: 0 0, 10px 10px, 0 0, 25px 25px;
      border: 2px solid darkgoldenrod;
    }

.box1 h2 {
    padding: 0;
    padding-top: 20px;
    text-align: left;
    font-size: 17px;
    color: white;
}

.box2 {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Default styling for smaller screens*/
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover; /* images properly contained */
  transition: all 0.3s ease;  /* smooth transition */
  border: 2px solid goldenrod;
}

/* For desktop */
@media screen and (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Larger column size */
  }

  .gallery img {
    width: 100%; /* Stays at full width */
    height: auto;
  }
    .last-img {

}
}

.contact-us {
    margin-bottom: 15px;

    display: flex; 
    justify-content: center;
    align-items: center;
   width: auto;
    
    
}
.cont-button {
    margin: 15px;
    padding: 8px;
    background-color: darkgoldenrod;
    border-radius: 5px;
    text-align: center;
    font-family: 'Electrolize';
    font-size: 24px;
    font-weight: 900;
    color: white;
    text-shadow: 1px 1px #787878;
    
}

.footer {
    background-image: url('bg1.webp');
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 70px;
    width: 100%;
    text-align: center;
    font-family: 'Electrolize';
    font-size: 10px;
    font-weight: 900;
    color: gold;
    margin: 0 auto;
    border-top: 2px solid darkgoldenrod;
    
}

.footer .contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    
    
}

.footer img {
    width: 20px;
    height: 20px;
    
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer span {
    display: block;
    justify-content: center;
}

.services-body {
padding: 145px 0px 30px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
.service {
padding: 15px;
}
.service h2 {
color: gold;
font-family: Electrolize;
}
.service h1 {
    color: white;
    font-family: Electrolize;
    text-align: left;
    font-size: 17px;
    max-width: 80%;
    margin: 0 10%;
}
.service p {
color: white;
font-family: Electrolize;
margin-left: 15px;
margin-right: 15px;
}
.inner {
    flex-wrap: wrap;
    margin: 0px 10px 0px 10px;
    width: 55em;
    display: flex;
    flex-direction: row;
    padding: 5em 0 3em 0;
}

.inner form {
    color: #ffffff;
    box-sizing: inherit;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0 3em 0 0;
    width: calc(50% - 1.5em);
}

.fields {
    color: #ffffff;
    box-sizing: inherit;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 3em);
    margin: -1.5em 0 2em -1.5em;
}

.field {
    color: #ffffff;
    box-sizing: inherit;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1.5em 0 0 1.5em;
    width: calc(100% - 1.5em);
}

.field label {
    box-sizing: inherit;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: #ffffff;
    display: block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 0.7em 0;
    text-transform: uppercase;
}

.field input, 
.field textarea {
    box-sizing: inherit;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.65;
    font-size: 12pt;
    appearance: none;
    background: rgba(80, 85, 89, 0.90);
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, 0.125);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

.field input {
    height: 2.75em;
}

.field textarea {
    padding: 0.75em 1em;
}

.actions {
    color: #ffffff;
    box-sizing: inherit;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0 0 2em 0;
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
}

.actions li {
    color: #ffffff;
    cursor: default;
    list-style: none;
    box-sizing: inherit;
    margin: 0;
    border: 0;
    font: inherit;
    padding: 0 0 0 1em;
    vertical-align: middle;
}
.button {
    list-style: none;
    box-sizing: inherit;
    appearance: none;
    transition: background-color 0.2s ease-in-out;
    background-color: darkgoldenrod;
    border-radius: 5px;
    border: 0;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-family: Electrolize;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.75em;
    letter-spacing: 0.1em;
    line-height: 3.75em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}




